<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>Controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmitCardControllerServlet</servlet-name>
        <servlet-class>Controller.AdmitCardControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewStudentControllerServlet</servlet-name>
        <servlet-class>Controller.AddNewStudentControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentDetailControllerServlet</servlet-name>
        <servlet-class>Controller.ShowStudentDetailControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerSheetControllerServlet</servlet-name>
        <servlet-class>Controller.AnswerSheetControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EVLoginControllerServlet</servlet-name>
        <servlet-class>Controller.EVLoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EVAnswerSheetControllerServlet</servlet-name>
        <servlet-class>Controller.EVAnswerSheetControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EVShowStudentDetailControllerServlet</servlet-name>
        <servlet-class>Controller.EVShowStudentDetailControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMarksControllerServlet</servlet-name>
        <servlet-class>Controller.UploadMarksControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginControllerServlet</servlet-name>
        <servlet-class>Controller.AdminLoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterInvigControllerServlet</servlet-name>
        <servlet-class>Controller.RegisterInvigControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEvalControllerServlet</servlet-name>
        <servlet-class>Controller.RegisterEvalControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveResultControllerServlet</servlet-name>
        <servlet-class>Controller.RetriveResultControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveStudentDetailControllerServlet</servlet-name>
        <servlet-class>Controller.RetriveStudentDetailControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmitCardControllerServlet</servlet-name>
        <url-pattern>/AdmitCardControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewStudentControllerServlet</servlet-name>
        <url-pattern>/AddNewStudentControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentDetailControllerServlet</servlet-name>
        <url-pattern>/ShowStudentDetailControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerSheetControllerServlet</servlet-name>
        <url-pattern>/AnswerSheetControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EVLoginControllerServlet</servlet-name>
        <url-pattern>/EVLoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EVAnswerSheetControllerServlet</servlet-name>
        <url-pattern>/EVAnswerSheetControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EVShowStudentDetailControllerServlet</servlet-name>
        <url-pattern>/EVShowStudentDetailControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMarksControllerServlet</servlet-name>
        <url-pattern>/UploadMarksControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginControllerServlet</servlet-name>
        <url-pattern>/AdminLoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterInvigControllerServlet</servlet-name>
        <url-pattern>/RegisterInvigControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEvalControllerServlet</servlet-name>
        <url-pattern>/RegisterEvalControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveResultControllerServlet</servlet-name>
        <url-pattern>/RetriveResultControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveStudentDetailControllerServlet</servlet-name>
        <url-pattern>/RetriveStudentDetailControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
